/*
 * This customized css is for previewing HTML document locally and on RTD.
 */

pre {
    white-space: pre-wrap;
    word-break: keep-all;
    line-height: 20px;
    position: relative;
    top:-10px;
}
