body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: inherit;
    color: #000;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

div.figure p.caption {
    font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 12px;
}

div.document {
    width: 100%;
}

div.footer {
    color: #fff;
    padding: 40px 0;
    text-align: left;
    width: auto;
    margin: auto;
}

div.body {
    min-width: 320px;
    max-width: 100%;
}

div.body p, div.body dd, div.body li {
    line-height: 24px;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: normal;
    margin: 30px 0px 10px 0px;
    padding: 0;
}

div.body h1 { margin-top: 0; padding-top: 0; font-size: 180%; }
div.body h2 { font-size: 150%; }
div.body h3 { font-size: 130%; }
div.body h4 { font-size: 100%; }
div.body h5 { font-size: 100%; }
div.body h6 { font-size: 100%; }


div.sphinxsidebar {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
    color: #444;
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 0;
}

div.sphinxsidebar h3 {
    font-size: 16px;
}

div.sphinxsidebar h4 {
    font-size: 14px;
}

div.sphinxsidebar form {
    margin: 0px;
}

div.sphinxsidebar input {
    border: 1px solid #CCC;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #444;
}

div.sphinxsidebar p.caption {
    font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 20px;
}

div.sphinxsidebar a.current {
    font-weight: bold;
}

div.sphinxsidebar li.toctree-l1 {
    font-size: 14px;
}

div.sphinxsidebar li.toctree-l2 {
    font-size: 14px;
}

div.sphinxsidebar li.toctree-l3 {
    font-size: 12px;
}

div.sphinxsidebarwrapper {
    padding: 10px 5px 0 10px;
}

div.input-group {
    display: inline-block;  /* this override "display: table" for input-group in the DR CMS */
}

div.admonition p.admonition-title {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

p.admonition-title:after {
    content: none;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all;
    line-height: 20px;
    position: relative;
    top:-10px;
}

@media screen and (max-width: 875px) {
    div.sphinxsidebar {
        padding: 0px;
        background: #fff;
        margin-left: 0px;
        width: 100%;
    }
    
    ul, ol {
        margin: 10px 0 10px 30px;
        padding: 0;
    }
    
    div.sphinxsidebar h3, h4 {
        color: #ffffff;
    }

    div.sphinxsidebar a {
        color: #444;
    }
}
